{% extends "./base/base.html" %}

{% block content %}
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
        <h1 class="mb-0">{{user.last_name}}
            <span class="text-primary">{{user.first_name}}</span>
        </h1>
        <div class="subheading mb-5">
            <a href="mailto:{{user.email}}">{{user.email}}</a>
        </div>
        <p class="lead mb-5">{{user.description}}</p>
        <div class="social-icons">
            <a href="#">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
        <h2 class="mb-5">Expériences</h2>

        {% for item in user.profesions %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">{{item.job_label}}</h3>
                <div class="subheading mb-3">{{item.company}}</div>
                <p>{{item.description}}</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">{{item.to_date}} - {{item.from_date}}</span>
            </div>
        </div>
        {% endfor %}

    </div>

</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">Formations</h2>

        {% for item in user.formations %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">{{item.diploma}}</h3>
                <div class="subheading mb-3">{{item.school}}</div>
                <p>{{item.description}}</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">{{item.from_date}} - {{item.to_date}}</span>
            </div>
        </div>
        {% endfor %}

    </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
        <h2 class="mb-5">Compétences</h2>

        <div class="subheading mb-3">Techniques</div>
        <ul class="list-inline">
            {% for s in user.get_tech_skills %}
            <li class="list-inline-item">
                <i class="fab fa-html5"></i>
                {{s.name}}
            </li>
            {% endfor %}
        </ul>

        <div class="subheading mb-3">Humaines</div>
        <ul class="list-inline">
            {% for s in user.get_human_skills %}
            <li class="list-inline-item">
                <i class="fa fa-check"></i>
                {{s.name}}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
    <div class="w-100">
        <h2 class="mb-5">Projets</h2>
        <ul class="fa-ul mb-0">
            {% for p in user.projects %}
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                {{p.name}}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
    <div class="w-100">
        <h2 class="mb-5">Centre d'intérets</h2>
        <p>{{user.interests}}</p>
    </div>
</section>

{% endblock %}